<link rel="stylesheet" href="/CSS/student_details.css">;
<div class="interview-container">
    <div>
        <div class="status">
            <div id="red" ></div>Fail
            <div id="orange" ></div>Hold
            <div id="green" ></div>Pass
        </div>
        <h2>Interview Details</h2>
        <br>
    </div>
    <%for(content of interviewAndStatus) {%>
        <div class="sub-container">
            
            <% if(content.allocationStatus.status === 'fail') {%>
                <div id="fail_status" class="int_status">
        
                </div>
            <%}%>

            <% if(content.allocationStatus.status === 'hold') {%>
                <div id="hold_status" class="int_status">
        
                </div>
            <%}%>

            <% if(content.allocationStatus.status === 'pass') { %>
                <div id="pass_status" class="int_status">
        
                </div>
            <%}%>
    
            
            <div class="info">
                <span class="label">Company Name:</span> &nbsp; <%= content.interviewData.companyName %>
            </div>
            <div class="info">
                <span class="label">Role:</span> &nbsp; <%= content.interviewData.role %>
            </div>
            <div class="info">
                <span class="label">Address:</span> &nbsp; <%= content.interviewData.address %>
            </div>
            <div class="info date">
                <span class="label">Date:</span> &nbsp; <%= new Date(content.interviewData.date).toISOString().split('T')[0] %>
            </div>
        </div>
    <%}%>
    
</div>
<div class="container">
    <div class="details-container" id="student-details">
        <h1>Student Details</h1>
        <div class="details-content">
            <div><b>First Name:&nbsp;</b> <%= student.firstName %></div>
            <div><b>Last Name:&nbsp;</b> <%= student.lastName %></div>
            <div><b>Email:&nbsp;</b> <%= student.email %></div>
            <div><b>Mobile Number:&nbsp;</b> <%= student.mobileNumber %></div>
            <div><b>Address:&nbsp;</b> <%= student.address %> </div>
        </div>
    </div>

    <div class="details-container" id="education-details">
        <h1>Higher Education Details</h1>
        <div class="details-content">
            <div><b>College Name:&nbsp;</b> <%= education.collegeName %></div>
            <div><b>Specialization:&nbsp;</b> <%= education.specialization %></div>
            <div><b>CGPA:&nbsp;</b> <%= education.cgpa %> %</div>
            <div><b>Start Year:&nbsp;</b><%= education.startYear %></div>
            <div><b>End Year:&nbsp;</b> <%= education.endYear %></div>
        </div>
    </div>

    
    <div class="details-container" id="batch-details">
        <h1>Batch Details</h1>
        <div class="details-content">
            <div><b>Batch Name:&nbsp;</b> <%= batch.batchName %></div>
            <div><b>Start Year:&nbsp;</b> <%= new Date(batch.startDate).toISOString().split('T')[0] %> </div>
            <div><b>End Year:&nbsp;</b> <%= new Date(batch.endDate).toISOString().split('T')[0] %> </div>
        </div>
    </div>

    <div class="details-container" id="course-score">
        <h1>Course Score</h1>
        <div class="details-content">
            <div><b>DSA Score:&nbsp;</b> <%= score.dsaScore %> / 1200 </div>
            <div><b>Web Development Score:&nbsp;</b> <%= score.webDevelopmentScore %> / 1200 </div>
            <div><b>React Front End Score:&nbsp;</b> <%= score.reactFrontEnd %>  / 1200 </div>
        </div>
    </div>
</div>